<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creat new</title>
        <link rel="stylesheet" href="/style.css">


</head>
<body>
    <h1 class="header">write your task</h1>
    <form method="post" action="/tasks">
           <input class="date" name="date" type="text" placeholder="date">
           <input class="head" name="head" type="text" placeholder="head">
           <textarea  class="detail" rows="20"cols="35" name="detail" id="">details</textarea>
           <button>submit</button>
    </form>

  
         
</body>
</html>