<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
        <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="container">
        <h1 class="header">This is your task</h1>
        <h2 class="date" name="date"><%=task.date %></h2> <br>
        <h2 class="head" name="head"><%=task.head %></h2><br>
        <p  class="detail" name="detail"><%=task.detail %></p><br>

        <button>
            <a href="/tasks">Go back</a>
        </button>
     </div>
    
</body>
</html>